<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,151}</string>
                <key>spriteSourceSize</key>
                <string>{150,151}</string>
                <key>textureRect</key>
                <string>{{1,194},{150,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,9}</string>
                <key>spriteSourceSize</key>
                <string>{66,9}</string>
                <key>textureRect</key>
                <string>{{131,163},{66,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonUnpressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,19}</string>
                <key>spriteSourceSize</key>
                <string>{66,19}</string>
                <key>textureRect</key>
                <string>{{131,142},{66,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,191}</string>
                <key>spriteSourceSize</key>
                <string>{128,191}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftEdge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,139}</string>
                <key>spriteSourceSize</key>
                <string>{137,139}</string>
                <key>textureRect</key>
                <string>{{1,347},{137,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>midPiece.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,139}</string>
                <key>spriteSourceSize</key>
                <string>{137,139}</string>
                <key>textureRect</key>
                <string>{{140,347},{137,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightEdge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,139}</string>
                <key>spriteSourceSize</key>
                <string>{137,139}</string>
                <key>textureRect</key>
                <string>{{131,1},{137,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>levelOne.png</string>
            <key>size</key>
            <string>{278,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24493afc460be40d2896c14ddd881626:0fe6e2398b8035c9e8113cc10b954a2e:f82cfd1a83fec7d4b534a670c1ad1850$</string>
            <key>textureFileName</key>
            <string>levelOne.png</string>
        </dict>
    </dict>
</plist>
