<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{22,102}</string>
                <key>spriteSourceSize</key>
                <string>{82,144}</string>
                <key>textureRect</key>
                <string>{{1,950},{22,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{44,142}</string>
                <key>spriteSourceSize</key>
                <string>{60,142}</string>
                <key>textureRect</key>
                <string>{{48,416},{44,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{45,144}</string>
                <key>spriteSourceSize</key>
                <string>{67,150}</string>
                <key>textureRect</key>
                <string>{{1,415},{45,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{51,143}</string>
                <key>spriteSourceSize</key>
                <string>{71,145}</string>
                <key>textureRect</key>
                <string>{{57,143},{51,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{54,141}</string>
                <key>spriteSourceSize</key>
                <string>{68,147}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{54,140}</string>
                <key>spriteSourceSize</key>
                <string>{68,144}</string>
                <key>textureRect</key>
                <string>{{57,1},{54,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{53,136}</string>
                <key>spriteSourceSize</key>
                <string>{67,150}</string>
                <key>textureRect</key>
                <string>{{1,144},{53,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,131}</string>
                <key>spriteSourceSize</key>
                <string>{58,131}</string>
                <key>textureRect</key>
                <string>{{1,282},{52,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{52,126}</string>
                <key>spriteSourceSize</key>
                <string>{54,126}</string>
                <key>textureRect</key>
                <string>{{55,288},{52,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{50,121}</string>
                <key>spriteSourceSize</key>
                <string>{60,121}</string>
                <key>textureRect</key>
                <string>{{28,904},{50,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{48,113}</string>
                <key>spriteSourceSize</key>
                <string>{52,113}</string>
                <key>textureRect</key>
                <string>{{78,1080},{48,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{25,106}</string>
                <key>spriteSourceSize</key>
                <string>{73,128}</string>
                <key>textureRect</key>
                <string>{{1,842},{25,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{51,109}</string>
                <key>spriteSourceSize</key>
                <string>{53,111}</string>
                <key>textureRect</key>
                <string>{{25,1027},{51,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{47,102}</string>
                <key>spriteSourceSize</key>
                <string>{51,102}</string>
                <key>textureRect</key>
                <string>{{44,703},{47,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{45,95}</string>
                <key>spriteSourceSize</key>
                <string>{47,95}</string>
                <key>textureRect</key>
                <string>{{44,807},{45,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{45,91}</string>
                <key>spriteSourceSize</key>
                <string>{49,95}</string>
                <key>textureRect</key>
                <string>{{80,906},{45,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{46,79}</string>
                <key>spriteSourceSize</key>
                <string>{56,85}</string>
                <key>textureRect</key>
                <string>{{80,999},{46,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{44,77}</string>
                <key>spriteSourceSize</key>
                <string>{62,79}</string>
                <key>textureRect</key>
                <string>{{1,1138},{44,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,108}</string>
                <key>spriteSourceSize</key>
                <string>{63,124}</string>
                <key>textureRect</key>
                <string>{{93,796},{29,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{28,117}</string>
                <key>spriteSourceSize</key>
                <string>{74,119}</string>
                <key>textureRect</key>
                <string>{{94,540},{28,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{31,122}</string>
                <key>spriteSourceSize</key>
                <string>{65,122}</string>
                <key>textureRect</key>
                <string>{{94,416},{31,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{33,135}</string>
                <key>spriteSourceSize</key>
                <string>{87,143}</string>
                <key>textureRect</key>
                <string>{{93,659},{33,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{41,138}</string>
                <key>spriteSourceSize</key>
                <string>{85,140}</string>
                <key>textureRect</key>
                <string>{{1,702},{41,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,139}</string>
                <key>spriteSourceSize</key>
                <string>{70,139}</string>
                <key>textureRect</key>
                <string>{{1,561},{42,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{43,141}</string>
                <key>spriteSourceSize</key>
                <string>{59,145}</string>
                <key>textureRect</key>
                <string>{{48,560},{43,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pFireList.png</string>
            <key>size</key>
            <string>{127,1216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42cb7fe276eb8ec2f0c7b3163148d485:6cd803effc1efea43aec15631cb3967c:31fa9f8cc5e29d701117c90e439bee85$</string>
            <key>textureFileName</key>
            <string>pFireList.png</string>
        </dict>
    </dict>
</plist>
